@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  background-color: #A2B9A0;
}
.todo-container{
  margin: 60px auto;
  background-color: #000100;
 width:100%;
 max-width:500px;
  height: 500px;
  border-radius: 20px;
  padding:5px 15px 5px 15px;
}
.todo-heading {
  font-family: "open sans", sans-serif;
  color:#fff;
  text-align: center;
}
.todo-row{
  display:flex;
  justify-content:center;
}
input[type="text"] {
  width: 70%;
  padding:15px;
  box-sizing: border-box;
  outline:none;
  border:none;
}
input[type="text"]:hover{
   border:1px solid #F17026;
}
.add-item-btn {
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 5px;
  text-transform: lowercase;
  font-size: 12px;
  background-color:#F17026;
}
.todo-item > li {
  list-style-type: none;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color:#fff;
  text-transform:uppercase;
}
.done {
  text-decoration: line-through;
  color: grey;
}

.delete {
  background-color: red;
  color: white;
  cursor: pointer;
  border: none;
}


